.splash-screen {
  --background: #ffffff;
  /*Evita scrolls o márgenes raros */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/*Forzamos el centrado también dentro del Shadow DOM */
.splash-screen::part(scroll) {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
  overflow: hidden !important;
}


.logo {
  width: 280px;
  height: auto;
  animation: fadeIn 2s ease-in-out both;
}

/* Animación splash */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}